### Compound Type - List

* **List**  - Python has a number of compound data types. These data structures are useful in grouping together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [1]:
sample_list = [20,38,40]

In [2]:
print(sample_list)

[20, 38, 40]

In [3]:
type(sample_list)

list

In [4]:
squares = [1, 4, 9, 16, 25, 'Kalam',True]

In [5]:
squares[5]

'Kalam'

In [6]:
squares[-4]

16

In [7]:
squares[1:3]

[4, 9]

In [8]:
squares[ : :-1]

[True, 'Kalam', 25, 16, 9, 4, 1]

* Lists also support operations like concatenation:

In [9]:
[1, 4, 9, 16, 25, 'Kalam',True] + [36, 49, 64, 81, 100, 121]

[1, 4, 9, 16, 25, 'Kalam', True, 36, 49, 64, 81, 100, 121]

* Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content

### Lists are mutable and Strings are immutable

In [10]:
word = 'Python'

In [11]:
word[2]='C'

TypeError: 'str' object does not support item assignment

In [12]:
squares

[1, 4, 9, 16, 25, 'Kalam', True]

In [13]:
squares[5]=36

In [14]:
squares

[1, 4, 9, 16, 25, 36, True]

In [15]:
cubes = [1, 8, 27, 65, 125]

In [16]:
cubes[3] = 4**3

In [17]:
cubes

[1, 8, 27, 64, 125]

* **List append() method**:You can also add new items at the end of the list, by using the append() method. (https://docs.python.org/3/tutorial/datastructures.html, https://docs.python.org/3.7/library/stdtypes.html)

In [18]:
cubes.append(216)
cubes.append(7 ** 3)

In [19]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [20]:
len(cubes)

7

In [21]:
cubes

[1, 8, 27, 64, 125, 216, 343]

* **Assignment to slices** is also possible, and this can even change the size of the list or clear it entirely

In [22]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [23]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [24]:
letters[2:4]

['c', 'd']

In [25]:
letters[2:4] = ['P','Q','R','S']
letters

['a', 'b', 'P', 'Q', 'R', 'S', 'e', 'f', 'g']

In [26]:
letters[2:5] = []
letters

['a', 'b', 'S', 'e', 'f', 'g']

In [27]:
letters[:]

['a', 'b', 'S', 'e', 'f', 'g']

In [28]:
letters[:] = []

In [29]:
letters

[]

* **Nesting Lists** It is possible to nest lists (create lists containing other lists)

In [30]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]      
x

[['a', 'b', 'c'], [1, 2, 3]]

In [34]:
x[1][2]

3

* Other ways of creating list

In [31]:
lst2 = list([10,20,30])
print(lst2)

[10, 20, 30]

In [32]:
lst3 = list() # empty lsit
lst3.append(3)
lst3.append(23)
print(lst3)

[3, 23]

### Compound Datatype - Tuples
  * Usually contain a heterogeneous sequence of elements

In [1]:
tup1 = 12,13,14

In [2]:
print(tup1)

(12, 13, 14)

In [3]:
tup2 = 12, 13, 'example'

In [4]:
print(tup2)

(12, 13, 'example')

In [5]:
tup1[1]

13

In [6]:
tup1[0:2]

(12, 13)

* Tuples are immutable

In [7]:
tup1[1] = 40

TypeError: 'tuple' object does not support item assignment

* Unpacking tuples

In [8]:
a, b, c = tup1
print("a : ", a)
print("b : ", b)
print("c : ", c)

a :  12
b :  13
c :  14

### Compound Datatype - Set
  * A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference. https://docs.python.org/3/library/stdtypes.html#set

In [41]:
basket = {'apple', 23, 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'apple', 'pear', 'orange', 23}

In [ ]:
emptySet = set() # not {}

In [42]:
a = set('abrac adabra')
b = set('alacazam')

In [43]:
print("unique letters in a : ", a)
print("unique letters in b : ", b)

unique letters in a :  {'r', ' ', 'b', 'd', 'c', 'a'}
unique letters in b :  {'z', 'm', 'l', 'c', 'a'}

* Mathematical set operations

In [44]:
a - b    # letters in a but not in b

{' ', 'b', 'd', 'r'}

In [45]:
a | b    # letters in either a or b

{' ', 'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [46]:
a & b    # letters in both a and b

{'a', 'c'}

In [47]:
a ^ b    # letters in a or b but not both

{' ', 'b', 'd', 'l', 'm', 'r', 'z'}

### Compound Datatype - Dictionaries

* Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys https://docs.python.org/3/library/stdtypes.html#dict

In [48]:
fruits_cals = {}
type(fruits_cals)

dict

In [49]:
fruits_cals = {"Apple": 95, "Orange": 2}

In [50]:
print(fruits_cals)

{'Apple': 95, 'Orange': 2}

In [51]:
fruits_cals["Mango"] = 202

In [54]:
print(fruits_cals)

{'Apple': 95, 'Orange': 2, 'Mango': 220}

In [53]:
fruits_cals["Mango"] = 220

In [55]:
fruits_cals.keys()

dict_keys(['Apple', 'Orange', 'Mango'])

In [56]:
for k in fruits_cals.keys():
    print(k)

Apple
Orange
Mango

In [57]:
fruits_cals.values()

dict_values([95, 2, 220])

In [58]:
for v in fruits_cals.values():
    print(v)

95
2
220

In [59]:
fruits_cals.items()

dict_items([('Apple', 95), ('Orange', 2), ('Mango', 220)])

In [60]:
for k, v in fruits_cals.items():
    print(k, " -- ", v)

Apple  --  95
Orange  --  2
Mango  --  220

* Other ways of creating dictionary

In [61]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098), ('mango', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098, 'mango': 4098}

In [62]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### List comprenhension

In [65]:
# Similarly to list comprehensions, set comprehensions are also supported
lst_comp = {x for x in [1,2,3,4,4,4,4,5,6,7] if x not in [1,2,3]}
print(lst_comp)

{4, 5, 6, 7}

In [64]:
emptySet = set()
for x in {1,2,3,4,4,4,4,5,6,7}:
    present = False
    for y in [1,2,3]:
        if (x == y):
            present = True
            break
    if (not present):
        emptySet.add(x)

print(emptySet)

{4, 5, 6, 7}

* dict comprehensions can be used to create dictionaries from arbitrary key and value expressions

In [66]:
squares = {x:x**2 for x in (2, 4, 6)}
print(squares)

{2: 4, 4: 16, 6: 36}

In [67]:
type(squares)

dict