### Functions

In [1]:
def simpleMethod(var1, var2, var3):
    print("Printing var1 : ", var1)
    print("Printing var2 : ", var2)
    print("Printing var3 : ", var3)

In [4]:
simpleMethod(6, 'abc', 'xyz')

Printing var1 :  6
Printing var2 :  abc
Printing var3 :  xyz

* Variable-length argument

In [5]:
def starArgs(*vals):
#    print('inside : ', type(vals))
    for x in vals:
        print(x)

In [8]:
lst = ['rama', 'gopal', 'madan', 'krishna']

starArgs(10, lst, 123, 8, 9,9,1221,990)

10
['rama', 'gopal', 'madan', 'krishna']
123
8
9
9
1221
990

* Default arguments

In [9]:
def fib(n = 100):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b   
    return result

In [11]:
fib(600)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

* Keyworded, variable-length argument list, the arguments will receive key, value pairs as values

In [12]:
def kwargs(**keywords):
    print(keywords)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [13]:
kwargs(shopkeeper="John",
           client="Mark", 
           cheese_type="Fresh Cheese")

{'shopkeeper': 'John', 'client': 'Mark', 'cheese_type': 'Fresh Cheese'}
shopkeeper : John
client : Mark
cheese_type : Fresh Cheese

In [14]:
def cheeseshop(kind, *arguments, **keywords):
    print("Q) Do you have any", kind, "?")
    print("Ans) We do have ")
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [15]:
cheeseshop("Cheese", 
           "Fresh Cheese...",
           "Good Cheese is sold here.",
           shopkeeper="John",
           client="Mark",
           cheese_type="Fresh Cheese")

Q) Do you have any Cheese ?
Ans) We do have
Fresh Cheese...
Good Cheese is sold here.
----------------------------------------
shopkeeper : John
client : Mark
cheese_type : Fresh Cheese

### Built-in Functions 
  * https://docs.python.org/3/library/functions.html

* range function

In [16]:
range(10)

range(0, 10)

In [17]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

* enumerate function

In [18]:
lst1 = ['Rama', 'Krishna', 'John', 'Ali']
for k, v in enumerate(lst1):
    print(k, ' -- ', v)

0  --  Rama
1  --  Krishna
2  --  John
3  --  Ali

* zip() function : To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [19]:
emp1 = ['Ajay', '1500', 'Feb 9th 2016']
emp2 = ['Vikram', '1000', 'Jan 1st 2010']
emp3 = ['Karteek', '2000', 'Dec 5th 2017']
for tup in zip(emp1, emp2, emp3):
    print(tup)

('Ajay', 'Vikram', 'Karteek')
('1500', '1000', '2000')
('Feb 9th 2016', 'Jan 1st 2010', 'Dec 5th 2017')

In [27]:
type(zip(emp1, emp2, emp3))

zip

In [28]:
zp = zip(emp1, emp2, emp3)
print(list(zp))

[('Ajay', 'Vikram', 'Karteek'), ('1500', '1000', '2000'), ('Feb 9th 2016', 'Jan 1st 2010', 'Dec 5th 2017')]

### lambda functions

In [32]:
fruits_cals = {"Apple": 95, "Orange": 2, "Mango": 202}

In [33]:
sorted(fruits_cals)

['Apple', 'Mango', 'Orange']

In [34]:
def fun1(x):
    return x[1]

In [35]:
sorted(fruits_cals, key = lambda x : fun1(x))

['Mango', 'Apple', 'Orange']

In [36]:
for kv in fruits_cals.items():
    print(kv)

('Apple', 95)
('Orange', 2)
('Mango', 202)

In [26]:
sorted(fruits_cals, key = lambda x: x[1])

['Mango', 'Apple', 'Orange']